
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>

    <!-- facebook share js -->
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1611807462418755',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="container">

      {% include "textchange/navbar.html" %}

      <h2>Contact Me!</h2>
      <p>Hello visitor!</p>
      <p>My name is Joe and I am a 3rd year software engineering student studying at the University of Victoria. Texchange was designed
        to make exchanging textbooks easier at the University of Victoria. If you have any concerns or recommendations about the application
        or you would just like to contact the developer please feel welcome to send an e-mail with the form below.
      </p>
      <br />
      <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        {% if field.name = 'content' %}
          {{ field.label_tag|linebreaks }}
        {% else %}
          {{ field.label_tag }}
        {% endif %}
        {{ field }}
      {% endfor %}
        <div class="form-actions">
          <button type="submit">Send Feedback</button>
        </div>
      </form>

    </br>
      <p>Like the Facebook page for application updates and share the website with your friends!</p>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div class="fb-share-button" data-href="http://www.texchange.ca" data-layout="button_count"></div><span> Share the website</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div class="fb-like" data-href="https://www.facebook.com/UvicTexchange" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div><span> Like the Facebook page</span>
      </br></br>
      <p>Donate here to support the developer.</p>
      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
