
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>
    <div class="container">

      {% include "textchange/navbar.html" %}

      <p>I do cool things sometimes</p>
      <p>lots of garbage for testing... sdfs eg srg drt drt hd hdrthdrt h drt hd rt h drt h drth dr th dr thdrt h dr th drt h dr
         drt h drth d rth dr th dr h drt h drt h drt h dr th dr th dr th    dr th d rth dr th dr th d r th dr h rd ht
          drhtr dh dr rh t drt dh dr d r</p>
      </th>
      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
