
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>

    <!-- facebook share js -->
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1611807462418755',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container">

      {% include "textchange/navbar.html" %}

      <h2>Contact Me!</h2>
      <p>Hello visitor!</p>
      <p>My name is Joe and I am a 3rd year software engineering student studying at the University of Victoria. Texchange was designed
        to make exchanging textbooks easier at the University of Victoria. If you have any concerns or recommendations about the application,
        you would just like to contact the developer, or you have other application ideas that you want developed for students at UVic
        please feel welcome to send a message with the form below.
      </p>
      <div style="margin-left: auto; margin-right: auto; display: block; width: 500px;">
      <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }}
        {% if field.name = 'content' %}
          </br>
        {% endif %}
        {{ field }}
        {% if field.name = 'subject' %}
          </br>
        {% endif %}
      {% endfor %}
        <div class="form-actions">
          <button type="submit">Send Feedback</button>
        </div>
      </form>
    </div>

    </br>
      <p>Like the Facebook page for application updates and share the website with your friends to help grow the community!</p>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div class="fb-share-button" data-href="http://www.texchange.ca" data-layout="button_count"></div><span> Share the website</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div class="fb-like" data-href="https://www.facebook.com/UvicTexchange" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div><span> Like the Facebook page</span>
      </br></br>
      {% include "textchange/footer.html" %}
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
