{% extends "textchange/base.html" %}

    {% block content %}

      <div class="posting_form">
        <form action="{% url 'textchange:addposting' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
          {% for field in form %}
            <span style="color: red;">{{ field.errors }}</span>
            {{ field.label_tag }}
            {{ field }}
            </br>
            {% if field.name != 'image' %}
              </br>
            {% endif %}
          {% endfor %}
          <input type="submit" value="Add a Posting" class=""></input>
        </form>
      </div>

      {% endblock %}
