
<!DOCTYPE html>
<html lang="en">
  {% include "textchange/head.html" %}
  <!-- {% load staticfiles %} -->
  <body>
    <div class="container">

	  {% include "textchange/navbar.html" %}

    <div class="row marketing">
      <div class="col-lg-6">
        <h3>Textbook Info</h3>
          <p><strong>Textbook: </strong>{{ posting.textbook.textbook_name }}</p>
          <p><strong>Condition: </strong>{{ posting.condition }}</p>
          <p><strong>Price: </strong>{{ posting.price }}</p>
          <p><strong>Class: </strong>{{ posting.textbook.class_name }}</p>
          <p><strong>ISBN: </strong>{{ posting.textbook.isbn }}</p>
          <p><strong>Author: </strong>{{ posting.textbook.author }}</p>
          <p><strong>Additional Comments: </strong>{{ posting.comments }}</p>
        <h3>Contact Info</h3>
          <p><strong>User: </strong>{{ posting.user.first_name }}</p>
          {% if social.provider == 'google-oauth2' %}
          <p>{{social.uid}}<p>
          {% elif social.provider == 'facebook' %}
          <p><a href="http://facebook.com/{{ social.uid }}">Visit their Facebook and send them a message!</a> </p>
          {% endif %}
      </div>

      <div class="col-lg-6">
          <img src="{{ posting.image.url }}" id="postimage">
      </div>
    </div>

    {% include "textchange/footer.html" %}

  </div>

  </body>
</html>
