{% extends "textchange/base.html" %}

    {% block content %}
    <div class="content_outer">
    <div class="content_container">
      <div class="standard_container">
      <div class="post_info">
        <p class="branding">Textbook Info</p>
          <p class="basic-text--space"><span class="semibold">Textbook:</span> {{ posting.textbook.textbook_name|title }}</p>
          <p class="basic-text--space"><span class="semibold">Author:</span> {{ posting.textbook.author|title }}</p>
          <p class="basic-text--space"><span class="semibold">Price:</span> {{ posting.price }}</p>
          <p class="basic-text--space"><span class="semibold">Condition:</span> {{ posting.condition }}</p>
          {% if posting.comments != '' %}
          <p class="basic-text--space"><span class="semibold">Additional Comments:</span> {{ posting.comments }}</p>
          {% endif %}
          <p class="basic-text--space"><span class="semibold">Class:</span> {{ posting.textbook.class_name }}</p>
          <p class="basic-text--space"><span class="semibold">ISBN:</span> {{posting.textbook.isbn|slice:":3"}}-{{posting.textbook.isbn|slice:"3:4"}}-{{posting.textbook.isbn|slice:"4:7"}}-{{posting.textbook.isbn|slice:"7:12"}}-{{posting.textbook.isbn|slice:"12:13"}}</p>
        <p class="header2">Contact Info</p>
        <p class="basic-text--space"><span class="semibold">User:</span> {{ posting.user.first_name }}</p>
          {% if social.provider == 'google-oauth2' and curuser.is_authenticated %}
          <p class="basic-text--space">{{social.uid}}<p>
          {% elif social.provider == 'facebook' and curuser.is_authenticated %}
          <p class="basic-text--space"><a href="http://facebook.com/{{ social.uid }}">Visit their Facebook and send them a message!</a> </p>
          {% else %}
          <p class="cantcontact">You must be logged in in order to view the users contact information.</p>
          {% endif %}
      </div>

      <div class="post_image">
        {% if 'postingpics/2016' not in posting.image.url and posting.image.url %}
          <img src="{{ posting.image.url }}" id="">
          {% else %}
          <p>No Image</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

    {% endblock %}
