
<!DOCTYPE html>
<html lang="en">
  {% include "textchange/head.html" %}

  <body>

    <div class="container">

	  {% include "textchange/navbar.html" %}

      <div class="jumbotron">
        <h1>{{ uuser.username }}</h1>
        <p class="lead">{{ text.textbook_name }} {{ text.author }} {{ text.isbn }} {{ text.class_name }}</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">email?</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">message?</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">phone?</a></p>
      </div>

      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
