
<!DOCTYPE html>
<html lang="en">
  {% include "textchange/head.html" %}

  <body>

    <div class="container">
      
	  {% include "textchange/navbar.html" %}

      <div class="jumbotron">
        <h1>Textchange!</h1>
        <p class="lead">Buy and sell used textbooks, easily, and at low prices!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Search bar?</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Wishlist/Postings</h4>
          <p>View your wishlist and postings here.</p>
        </div>

        <div class="col-lg-6">
          <h4>Settings</h4>
          <p>Change your profile and application settings here</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
