<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Texchange organizes textbooks required for courses offered at the University of Victoria (UVic).
  It allows users to search for desired textbooks and contact their fellow peers to trade.">
  <meta name="author" content="Joe Czepil">
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="../../favicon.ico">

  <title>UVic Texchange Exchange Textbooks at University of Victoria</title>

  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static "textchange/index.css" %}" rel="stylesheet">
  <link href="{% static "textchange/mycss.css" %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static "textchange/jumbotron.css" %}" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--<script src="{% static "textchange/index.js" %}"></script> -->
  <!-- <script src="{% static "textchange/facebook.js" %}"></script> -->

  <link rel="shortcut icon" href="{% static "textchange/tabicon.png" %}">

  <!-- Info displayed when site it shared/linked -->
  <meta property="og:url"           content="http://www.texchange.ca" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="UVic Texchange" />
  <meta property="og:description"   content="Making textbook exchange at UVic easy!" />
  <meta property="og:image"         content="https://texchangedb.s3.amazonaws.com/textchange/Sharepic.png" />
</head>
