<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Texchange organizes textbooks required for courses offered at the University of Victoria (UVic).
  It allows users to search for desired textbooks and contact their fellow peers to trade.">
  <meta name="author" content="Joe Czepil">
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="../../favicon.ico">

  <title>UVic Texchange Exchange Textbooks at University of Victoria</title>



  {% load staticfiles %}

  <meta name="wot-verification" content="dbc0d3681956a7bd2371"/>

  <link href="{% static "textchange/mycss.css" %}" rel="stylesheet">
  <link href="{% static "textchange/browser.css" %}" media="screen and (min-width: 461px)" rel="stylesheet">
  <link href="{% static "textchange/phonecss.css" %}" media="screen and (max-width: 460px)" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="shortcut icon" href="{% static "textchange/tabicon.png" %}">

  <script>
  var globalCount = 0;

  function getColor() {
    var oldcolor = localStorage.getItem("funColor");
    if(oldcolor) {
      document.getElementById("landing_page").style.background = 'linear-gradient(180deg,' + oldcolor[globalCount][0] + ', ' +  oldcolor[globalCount][1] + ')';
    }
  }

  function changeColor() {
    var colors = [["#DFF6A1", "#91DE91"], ['#4EA9F6' , '#3583D0']];

    document.getElementById("landing_page").style.background = 'linear-gradient(180deg,' + colors[globalCount][0] + ', ' +  colors[globalCount][1] + ')';
    if(globalCount === 1) {
      globalCount = 0;
    } else {
      globalCount += 1;
    }
    localStorage.setItem("funColor", [colors[globalCount][0], colors[globalCount][0]]);
  }
  </script>

  <!-- Info displayed when site it shared/linked -->
  <meta property="og:url"           content="http://www.texchange.ca" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="UVic Texchange" />
  <meta property="og:description"   content="Making textbook exchange at UVic easy!" />
  <meta property="og:image"         content="https://texchangedb.s3.amazonaws.com/textchange/Sharepic.png" />
</head>
