
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>
    <div class="container">

      {% include "textchange/navbar.html" %}

      <h1>Application Help</h1>
      <p>This page gives a basic overview of all the main use cases that can be completed in the application. After reading this
       you should know how to complete each use case in the most efficient way possible. All of the following use cases start from
       the homepage. To reach the homepage click "Texchange UVic" in the top left of any page.</p>
      <h2 id="toc">Table of Contents</h2>
      <ul>
        <li><a href="#Create">Logging In</a></li>
        <li><a href="#Search">Searching</a></li>
        <li><a href="#PostWish">Creating Postings and Wishes</a></li>
        <li><a href="#Contact">Contacting Buyers and Sellers</a></li>
        <li><a href="#Wishlisting">Managing Wishlist and Postings</a></li>
        <li><a href="#QA">Frequently Asked Questions</a></li>
      </ul>

      <h2 id="Create">Logging In</h2>
      <p>In order to login simply click the Facebook login button in the top right corner of the screen. The reason we get you
        login with Facebook is so you can communicate with other users when you want to trade textbooks.
      </p>
      <a href="#toc">Back to Top</a>
      <h2 id="Search">Searching</h2>
      <p>In order to search for textbooks type keywords into the search box on the home page. You can search for your textbooks by typing your
        class name, number, textbook name, textbook isbn, or textbook author. Entering multiple words into the search field will refine your search to match
        both inputs. After searching you will be presented with a list of textbooks. Click on the arrow on the right side of one of the a box to go to the
        textbook details page.
      </p>
      <a href="#toc">Back to Top</a>
      <h2 id="PostWish">Creating Postings and Wishes</h2>
      <p>In order to create a posting or add a book to your wishlist you must first search for the textbook and select it from the results page. Afterwards,
      you will be able to select the "Add a Posting" or "Add to your Wishlist" buttons below the textbooks details. When you click "Add to your Wishlist" the textbook
      will be added to your wishlist immediately. When you click "Add a Posting" you will be brought to page in which you can add a price, condition, and image to
      the posting. The price and condition fields are required. Below the textbook details and action buttons you can find lists of people who are looking for textbook
      and lists of people who are selling the textbook.</p>
      <a href="#toc">Back to Top</a>
      <h2 id="Contact">Contacting Buyers and Sellers</h2>
      <p>In order to contact a buyer or seller you must first search for the textbook and select it from the results page.
      At the bottom of the textbook page you can see two lists, "Possible Buyers" and "Possible Sellers". "Possible Buyers" is a list
      of all the people who are currently looking to purchase that textbook. "Possible Sellers" is a list of people who are currently
      selling that textbook. Click on the arrow button on the right side of one of those entries to go to the contact page.</p>
      <a href="#toc">Back to Top</a>
      <h2 id="Wishlisting">Managing Wishlist and Postings</h2>
      <p>You can manage your postings and wishes by clicking on the "Wishlists and Postings" button on the home page. From there
      you can view and delete all your postings and wishes. You can also click on the textbook name to go to it's page.</p>
      <a href="#toc">Back to Top</a>
      <h2 id="QA">Frequently Asked Questions</h2>
      <p>Below are a number of frequently asked questions and their answers.</p>
      <ul>
        <li type="circle"><strong>How do I add my textbooks to the application?</strong></li></br>
        <li type="none">First you have to search for your textbook in the searchbox at the home page.
          Once you select your textbook click "Add to Wishlist" if you are trying to buy that textbook
          and "Add a Posting" and fill out the following form if you are trying to sell that textbook.
          Now other users will see that you are buying or selling that textbook.</li></br>
        <li type="circle"><strong>What is the advantage to adding postings and wishes?</strong></li></br>
        <li type="none">Adding postings or wishes allows other users searching for that textbook to find you,
          that way you don't have to constantly search for buyers and sellers.
          You can let the buyers and sellers find you.</li></br>
        <li type="circle"><strong>Why are multiple results showing item for the same item?</strong></li></br>
        <li type="none">Multiple results show up for a textbook if the textbook is offered for more than one class.
        However, no matter what textbook you click on you will see all the postings and wishes for that textbook between
        all of the classes.</li></br>
        <li type="circle"><strong>Why can't I message people on Facebook?</strong></li></br>
        <li type="none">If you do not have the option to message someone on Facebook then their security settings may be too strict.
        Make sure to set your settings so that "Anyone" can message you that people are not running into the same problem when messaging you.</li></br>
      </ul>
      <a href="#toc">Back to Top</a>

      {% include "textchange/footer.html" %}

    </div> <!-- /container -->

  </body>
</html>
