{% extends "textchange/base.html" %}

    {% block content %}

    <div class="index-search-form-container">
      <div class="index-search-form">
      <form method="POST"> {% csrf_token %}
        {% for field in form3 %}
          {{ field }}
        {% endfor %}
      <input id="search" type="submit" value="Search Textbooks"></input>
      </form>
      <div class="booktosell"><p>Have a textbook that you want to <a href="{% url 'textchange:addposting' %}">Sell?</a></p></div>
    </div>
      </br>
    </div>

    {% endblock %}
