
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>
    <div class="container">

      {% include "textchange/navbar.html" %}

      <div class="jumbotron">
        <h1>Textchange!</h1>
        <p class="lead">Buy and sell used textbooks, easily, and at low prices!</p>

        <form method="POST"> {% csrf_token %}
  		  {{ form3.as_p }}
  		  <input type="submit" value="Search" name="results"></input>
  		  </form>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <a class="btn btn-lg btn-success" href="{% url 'textchange:wishlisting' %}" role="button">Wishlist and Postings</a>
          <p>View your wishlist and postings here.</p>
        </div>

        <div class="col-lg-6">
          <a class="btn btn-lg btn-success" href="{% url 'textchange:settings' %}" role="button">Profile</a>
          <p>Change your profile and application settings here</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
