
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      {% if request.user.is_authenticated %}
        <li role="presentation"><a href="{% url 'textchange:navbar' %}">logout</a></li>
      {% else %}
        <li role="presentation"><a href="{% url 'textchange:accountcreation' %}">Create Account/Sign In</a></li>
      {% endif %}
    </ul>
  </nav>
  <h3 class="text-muted"><a href="{% url 'textchange:home' %}" class="blacklink" id="home">Texchange UVic</a></h3>
</div>

<button id="help" class="button"><a href="{% url 'textchange:help' %}" class="blacklink">help</a></button>
