
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

{{ load.media }}

{% if homepage %}
<div class="header_invisible">
  {% else %}
<div class="header">
{% endif %}
    <div class="leftheader">
      <a class="header_in" href="{% url 'textchange:index' %}">texchange</a>
    </div>
    {% if request.user.is_authenticated %}
      <div class="rightheader">
        <div class="dropdown">
          <span onclick="myFunction()" class="dropbtn">Hi, {{request.user.first_name}}!</span>
          <div id="myDropdown" class="dropdown-content">
              <a href="{% url 'textchange:addposting' %}">Sell a Book</a>
              <a href="{% url 'textchange:wishlisting' %}">Manage Postings</a>
              <a href="{% url 'textchange:about' %}">Contact</a>
              <a href="{% url 'textchange:help' %}" >Help</a>
              <a target="_blank" href="https://www.facebook.com/TexchangeApp">Like us on Facebook!</a>
              <a href="{% url 'textchange:navbar' %}" class="bottomdropdown">Logout</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="rightheader">
        <a class="floatright" href="{% url 'textchange:login' route=1 %}">Login / Sign Up</a>
      </div>
    {% endif %}
</div>
