
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

{{ load.media }}

<div class="header">
    <div class="leftheader">
      <a class="header_in" href="{% url 'textchange:index' %}">Texchange</a>
    </div>
    {% if request.user.is_authenticated %}
      <div class="rightheader">
        <div class="dropdown">
          <span onclick="myFunction()" class="dropbtn">{{request.user.first_name}} {{request.user.last_name}}</span>
          <div id="myDropdown" class="dropdown-content">
              <a class="btn btn-lg btn-success option" href="{% url 'textchange:wishlisting' %}" role="button">Wishlist and Postings</a>
              <a href="{% url 'textchange:navbar' %}" class="softbutton">Logout</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="rightheader">
        <a class="floatright" href="{% url 'textchange:login' %}">Login / Sign Up</a>
      </div>
    {% endif %}
</div>
