
<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>
    <div class="container">

      {% include "textchange/navbar.html" %}

      <div class="jumbotron">
        <h2>{{ text.textbook_name }}!</h2>
        <p class="lead">{{ text.author }} {{ text.isbn }}</p>


        {% if numtexts < 5 %}

          <div><table class="center"><tr>
          {% for texts in ltextbook %}
          <td class="classtag">
            <table class="classsemester">
            <tr><td class="coursetag">{{ texts.class_name }}</td></tr>
            <tr><td class="semestertag">{{ texts.semester }}</td></tr>
            </table>
          </td>
          {% endfor %}
          </tr></table></div>
          </br>
        {% else %}
          <p>Item is offered for many textbooks.</p>
        {% endif %}

        <div >
          <table class="center">
          <tr>
            <td class="buttonspace">
              <form action="{% url 'textchange:textbook' uisbn=text.isbn %}" method="post"> {% csrf_token %}
                {% if wishexist %}
                  {% if postexist %}
                  <input class="bad button" type="submit" name="DeleteWishlist" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your wishlist?')" value="Delete from your Wishlist"></input>
                  {% else %}
                  <input class="bad button" type="submit" name="DeleteWishlist" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your wishlist?')" value="Delete from your Wishlist"></input>
                  {% endif %}
                {% else %}
                  {% if postexist %}
                  <input class="good button" type="submit" name="AddWishlist" value="Add to Wishlist"></input>
                  {% else %}
                  <input class="good button" type="submit" name="AddWishlist" value="Add to Wishlist"></input>
                  {% endif %}
                {% endif %}
              </form>
            </td>
            <td class="buttonspace">
              {% if postexist %}
              <form action="{% url 'textchange:textbook' uisbn=text.isbn %}" method="post"> {% csrf_token %}
                <input class="bad button" type="submit" name="DeleteListing" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your postings?')" value="Delete your Posting"></input>
              </form>
              {% else %}
              <a href="{% url 'textchange:addposting' uisbn=text.isbn %}">
                <input class="good button blacklink" type="button" value="Add a Posting" />
              </a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      </div>
      <!-- JUMBOTRON END -->

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Possible Buyers</h3>
          <table class="table">
            {% for wishes in wishlists %}
            <tr><td class="width270">{{wishes.user}}</td><td><a href = "{% url 'textchange:contactwish' uuser=wishes.user uisbn=text.isbn %}"><img src="../../static/textchange/nextarrow.png" class="nextbutton"></a></td></tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-lg-6">
          <h3>Possible Sellers</h3>
          <table class="table">
            {% for posts in listings %}
            <tr><td class="width85">{{posts.condition}}</td><td class="width75">${{posts.price}}</td><td class="width110">{{posts.user}}</td><td><a href = "{% url 'textchange:contactpost' uuser=posts.user uisbn=text.isbn %}"><img src="../../static/textchange/nextarrow.png" class="nextbutton"></a></td></tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Brought to you by a student at the University of Victoria 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
