<!DOCTYPE html>
<html lang="en">

  {% include "textchange/head.html" %}

  <body>
    <div class="container">

      {% include "textchange/navbar.html" %}

      <div class="jumbotron">
        <h2>{{ text.textbook_name }}!</h2>
        <p class="lead">{{ text.author }} {{ text.isbn }}</p>
        {% if numtexts < 5 %}
          <div><table class="center"><tr>
            {% for texts in ltextbook %}
            <td class="classtag">
              <table class="classsemester">
              <tr><td class="coursetag">{{ texts.class_name }}</td></tr>
              <tr><td class="semestertag">{{ texts.semester }}</td></tr>
              </table>
            </td>
            {% endfor %}
          </tr></table></div>
          </br>
        {% else %}
          <p>Item is offered for many classes.</p>
        {% endif %}

        <div >
          <table class="center">
          <tr>
            <td class="buttonspace">
              <form action="{% url 'textchange:textbook' uisbn=text.isbn %}" method="post"> {% csrf_token %}
                {% if wishexist %}
                  {% if postexist %}
                  <input class="bad button" type="submit" name="DeleteWishlist" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your wishlist?')" value="Delete your Wish"></input>
                  {% else %}
                  <input class="bad button" type="submit" name="DeleteWishlist" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your wishlist?')" value="Delete your Wish"></input>
                  {% endif %}
                {% else %}
                  {% if postexist %}
                  <input class="good button" type="submit" name="AddWishlist" value="Add to Wishlist"></input>
                  {% else %}
                  <input class="good button" type="submit" name="AddWishlist" value="Add to Wishlist"></input>
                  {% endif %}
                {% endif %}
              </form>
            </td>
            <td class="buttonspace">
              {% if postexist %}
              <form action="{% url 'textchange:textbook' uisbn=text.isbn %}" method="post"> {% csrf_token %}
                <input class="bad button" type="submit" name="DeleteListing" onclick="return confirm('Are you sure you want to delete {{ text.textbook_name }} from your postings?')" value="Delete your Post"></input>
              </form>
              {% else %}
              <a href="{% url 'textchange:addposting' uisbn=text.isbn %}">
                <input class="good button blacklink" type="button" value="Add a Posting" />
              </a>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      </div>
      <!-- JUMBOTRON END -->

      <div class="row marketing" style="margin-top: 10px;">
        <p class="centertext">No one selling? Try searching <strong><a href="http://affiliates.abebooks.com/c/177315/77416/2029">AbeBooks</a></strong> for your textbook.</p>
        <div class="col-lg-6">
          <h3>Possible Buyers</h3>
          <table class="resultstable">
            {% for wishes in wishlists %}
            <tr class="bordertop">
              <td class="width270"><a class="blacklink padtopbot15" href = "{% url 'textchange:contactwish' uuser=wishes.user.pk uisbn=text.isbn %}">{{wishes.user.first_name}}</a></td>
              <td><a class="padtopbot8" href="{% url 'textchange:contactwish' uuser=wishes.user.pk uisbn=text.isbn %}"><img src="https://texchangedb.s3.amazonaws.com/textchange/nextarrow.png" class="nextbutton"></a></td>
            </tr>
            {% endfor %}
            {% if not wishlists %}
              <tr class="bordertop"><td class="padtopbot8">Currently no users buying this textbook.</td></tr>
            {% endif %}
          </table>
        </div>

        <div class="col-lg-6">
          <h3>Possible Sellers</h3>
          <table class="resultstable">
            {% for posts in listings %}
            <tr class="bordertop">
              <td class="width85"><a class="blacklink padtopbot15" href = "{% url 'textchange:contactpost' uuser=posts.user.pk uisbn=text.isbn %}">{{posts.condition}}</a></td>
              <td class="width75"><a class="blacklink padtopbot15" href = "{% url 'textchange:contactpost' uuser=posts.user.pk uisbn=text.isbn %}">${{posts.price}}</a></td>
              <td class="width110"><a class="blacklink padtopbot15" href = "{% url 'textchange:contactpost' uuser=posts.user.pk uisbn=text.isbn %}">{{posts.user.first_name }}</a></td>
              <td><a class="padtopbot8" href="{% url 'textchange:contactpost' uuser=posts.user.pk uisbn=text.isbn %}"><img src="https://texchangedb.s3.amazonaws.com/textchange/nextarrow.png" class="nextbutton"></a></td>
            </tr>
            {% endfor %}
            {% if not listings %}
              <tr class="bordertop"><td class="padtopbot8">Currently no users selling this textbook.</td></tr>
            {% endif %}
          </table>
        </div>
      </div>

      {% include "textchange/footer.html" %}

    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
