
<!DOCTYPE html>
<html lang="en">
  {% include "textchange/head.html" %}

  <body>

    <div class="container">

	  {% include "textchange/navbar.html" %}

        <div style="margin-right: auto; margin-left: auto; width: 415px; display: block;">
        <h2>Your Postings and Wishlist</h2>
        <span>You can manage your postings and wishes here...</span><br />
          <ol>
            <li type="circle">Press the delete button to delete wishes and postings.</li>
            <li type="circle">You can click the textbook name to go to it's page.</li>
          </ol>
        </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Your Wishlist</h3>
          <table class="table">
            {% if not wishlists %}
              <tr><td>You do not currently have any wishes.</td></tr>
            {% endif %}
            {% for wishes in wishlists %}
            <tr><td class="width235"><a href="{% url 'textchange:textbook' uisbn=wishes.textbook.isbn %}" class="blacklink">{{wishes.textbook}}</a></td>
              <td class="width85">
              <form action="{% url 'textchange:removewishlisting' uisbn=wishes.textbook.isbn %}" method="post"> {% csrf_token %}
              <input class="delete" type="submit" name="DeleteWishlist"  onclick="return confirm('Are you sure you want to delete {{wishes}} from your wishlist?')" value="Delete"></input>
              </form>
              </td></tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-lg-6">
          <h3>Your Postings</h3>
          <table class="table">
            {% if not listings %}
              <tr><td><p>You do not currently have any postings.</td></tr>
            {% endif %}
            {% for posts in listings %}
            <tr><td class="width160"><a href="{% url 'textchange:textbook' uisbn=posts.textbook.isbn %}" class="blacklink">{{posts.textbook}}</a></td><td class="width75">${{posts.price}}</td>
              <td class="width85">
              <form action="{% url 'textchange:removewishlisting' uisbn=posts.textbook.isbn %}" method="post"> {% csrf_token %}
              <input class="delete" type="submit" name="DeletePosting"  onclick="return confirm('Are you sure you want to delete {{posts}} from your postings?')" value="Delete"></input>
              </form>
              </td></tr>
            {% endfor %}
          </table>
        </div>
      </div>

      {% include "textchange/footer.html" %}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
