{% extends "textchange/base.html" %}

    {% block content %}
    <div class="content_outer">

    <div class="content_container">
      <div class="manage_container standard_container">
      <div class="">
      <h2>Your Postings and Wishlist</h2>
      <span>You can manage your postings and wishes here...</span><br />
        <ol>
          <li type="">Press the delete button to delete wishes and postings.</li>
          <li type="">You can click the textbook name to go to it's page.</li>
        </ol>
      </div>

      <div class="">
        <div class="">
          <h3>Your Postings</h3>
          <table class="">
            {% if not listings %}
              <tr><td><p>You do not currently have any postings.</td></tr>
            {% endif %}
            {% for posts in listings %}
            {% with "query="|add:posts.textbook.isbn as urlstring %}
            <tr><td class=""><a href="{% url 'textchange:textbook' urlstring=urlstring uisbn=posts.textbook.isbn %}" class="blacklink">{{posts.textbook}}</a></td><td class="width75">${{posts.price}}</td>
            {% endwith %}
              <td class="">
              <form action="{% url 'textchange:removewishlisting' uisbn=posts.textbook.isbn %}" method="post"> {% csrf_token %}
              <input class="" type="submit" name="DeletePosting"  onclick="return confirm('Are you sure you want to delete {{posts}} from your postings?')" value="Delete"></input>
              </form>
              </td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>


    </div>

      {% endblock %}
