<!DOCTYPE html>
<html lang="en">
  {% include "textchange/head.html" %}

  <body onload="getColor()">

<div class="content_outer">
  <div class="content_container login_content_container">
      <div class="login_container">
        <p class="branding">404 Page Not Found. Whoops!</p>
        <p>(╯'□')╯  ┻━┻</p>
        <p>You have either gone to a page that does not exist or you have gone to a page that you can only access while logged in.</p>
        <p>Click <a class="inline" href="{% url 'textchange:index' %}">here</a> to go home.</p>
      </div>
    </div>
  </div>


    </body>
    </div> <!-- /container -->

  </body>
  </html>
