html, body {
  margin: 0;
  font-family: 'SourceSansPro';
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
input, select, textarea {
  outline: 0;
  font-family: 'SourceSansPro';
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
input {
  padding-left: 8px;
}
label {
  font-family: 'SourceSansPro-SemiBold';
  font-size: var(--header3);
  padding-right: 8px;
  color: var(--emperor);
}
input::-webkit-input-placeholder{
  color:#7D7D7D;
}
input:-moz-placeholder {
  color: #7D7D7D;
}
p {
  color: var(--emperor);
}
a {
  text-decoration: none;
}
a:hover {
  opacity: var(--hoveropacity);
  transition: var(--hovertransition);
}
:root {
  --emperor: #2e2e2e;
  --concrete: #E3E3E3;
  --inputborder: #CFCFCF;
  --successgreen: #55BF71;
  --grey: #7D7D7D;
  --branding: 25px;
  --header: 20px;
  --header2: 18px;
  --header3: 16px;
  --std-text: 14px;
  --hoveropacity: 0.7;
  --transition: 0.2s;

}
.inline {
  display: inline;
}
.branding {
  font-size: var(--branding);
  font-family: 'SourceSansPro-SemiBold';
  margin: 25px 0px 20px 0px;
}
.header {
  font-size: var(--header);
}
.topheader2 {
  font-size: var(--header2);
  font-family: 'SourceSansPro-SemiBold';
  margin: 25px 0px 5px 0px;
  color: var(--emperor);
}
.header2 {
  font-size: var(--header2);
  font-family: 'SourceSansPro-SemiBold';
  margin: 20px 0px 5px 0px;
  color: var(--emperor);
}
.name {
  font-family: 'SourceSansPro-SemiBold';
  font-size: var(--header2);
  color: var(--emperor);
}
.button {
  font-family: 'SourceSansPro-SemiBold';
  font-size: var(--header3);
}
.basic-text {
  font-size: var(--header3);
  margin: 0px;
  color: var(--emperor);
}
.basic-text--space {
  font-size: var(--header3);
  margin: 5px 0 5px 0;
  color: var(--emperor);
}
.header3 {
  font-size: var(--header3);
  margin: 15px 0px 5px 0px;
  color: var(--emperor);
}
.semibold {
  font-family: 'SourceSansPro-SemiBold';
}
.description_text {
  color: var(--grey);
  font-size: var(--header3);
}
.description_text {
  color: var(--grey) !important;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('fonts/SourceSansPro-Semibold.ttf');
}

#landing_page {
  will-change: background;
  background: -webkit-linear-gradient(180deg, 'rgb(255, 162, 102)', 'rgb(234, 107, 107)');
  background: -o-linear-gradient(180deg, 'rgb(255, 162, 102)', 'rgb(234, 107, 107)');
  background: -moz-linear-gradient(180deg, 'rgb(255, 162, 102)', 'rgb(234, 107, 107)');
  background: linear-gradient(180deg, 'rgb(255, 162, 102)', 'rgb(234, 107, 107)');
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.standard_container.results_container {
  padding: 0px;
  box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.20);
}
.errorlist {
  margin: 0px;
  list-style: none;
  text-align: left;
  padding-left: 88px;
}
.errorlist li {
  color: red;
  font-size: 12px;
}
.yafuckedup {
  color: red;
  font-size: 12px;
  margin-left: -21px;
}
.content_outer {
  text-align: center;
}
.results_outer_content {
  background-color: #FBFBFB;
  border: none;
}
.results_returned {
  text-align: left;
  padding-bottom: 4px;
  font-size: var(--header2);
  padding-left: 15px;
}
.noresults {
  float: right;
  padding-bottom: 4px;
  color: red;
}
.results_container.standard_container {
  min-height: 0;
}
.results_table div {
  display: inline-block;
  background-color: white;
  height: 32px;
  box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.20);
}
.results_table a {
  float: inherit;
  color: var(--grey);
  width: 100%;
  text-align: left;
  text-decoration: none;
}
.results_table a:hover {
  opacity: 1;
}
.results_top-left {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 70px);
  border-top: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
}
.results_top-left a {
  padding: 10px 0px 2px 16px;
  color: var(--emperor);
}
.results_bottom-left {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 142px);
  border-left: 1px solid #E3E3E3;
}
.results_bottom-left a {
  padding: 2px 0px 10px 16px;
}
.results_top-right {
  float: right;
  width: 68px;
  border-top: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}
.results_top-right a {
  padding: 10px 16px 2px 16px;
  color: var(--emperor);
  text-align: right;
}
.results_bottom-right {
  float: right;
  width: 140px;
  border-right: 1px solid #E3E3E3;
}
.results_bottom-right a {
  padding: 2px 16px 10px 16px;
  text-align: right;
}


.close_login {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: -12px;
  right: 12px;
  background-image: url("lightgreyx.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.close_login:hover {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: -12px;
  right: 12px;
  background-image: url("greyx.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.help_page p,.help_page li, .help_page h1, .help_page h2, .help_page span {
  text-align: left;
  color: var(--emperor);
}
.help_page span {
  display: block;
}
.help_page .backtotop {
  float: right;
  padding-bottom: 25px;
  color: var(--grey);
}
.backtotop:hover {
  color: var(--emperor);
}
.help_page span a {
  color: var(--grey);
  text-decoration: none;
  line-height: 24px;
}
.help_page a {
  color: var(--emperor);
  text-decoration: none;
  font-size: var(--header3);
}
.help_page a:hover {
  color: var(--emperor) !important;
  opacity: 1;
}
.help_page hr {
  margin-top: 20px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #CFCFCF;
}

.about_page p {
  text-align: left;
  color: var(--emperor);
}
.about_page .errorlist {
  margin: 0px;
  list-style: none;
  text-align: left;
  padding-left: 5px;
}
.about_page .errorlist li {
  color: red;
  font-size: 12px;
}
.feedback_field {
  border-radius: 4px;
  height: 30px;
  padding: 5px 0px 5px 5px;
  border: 1px solid var(--inputborder);
  width: calc(100% - 5px);
  color: var(--emperor);
  padding-top: 0px;
  padding-bottom: 0px;
}
.feedback_wrapper {
  margin-bottom: 15px;
}
.feedback_label_wrap label {
  float: left;
  margin-bottom: 2px;
}
.feedback_textarea {
  left: 0px;
  width: calc(100% - 5px);
  border: 1px solid var(--inputborder);
  border-radius: 4px;
  background-color: #ffffff;
  height: 60px;
  color: var(--emperor);
  max-width: 100%;
}
.feedback_submit {
  float: right;
  height: 30px;
  color: white;
  border-radius: 4px;
  padding: 0px 20px 0px 20px;
  background-color: var(--successgreen);
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(166, 166, 166, 0.20);
}
.contact_profile {
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 45px;
}
.contactpic {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  float: left;
}
.contacticon {
  height: 18px;
  width: 18px;
  padding-right: 2px;
  padding-top: 3px;
}
.contactdescription {
  padding-left: 90px;
  padding-top: 0px;
  min-width: 205px;
}
.contactdescription p {
  padding-top: 2px;
  margin: 0;
}

.login_container p {
  text-align: center;
}
.login_container h2 {
  padding-top: 15px;
  text-align: center;
}
.login_container a {
  display: block;
  text-decoration: none;
}

.login_container .login_shit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-image: url("smile.png");
  background-repeat: no-repeat;
  background-size: 25px 24px;
  bottom: 0px;
  left: calc(50% - 11px);
}
.facebook_login:hover {
  opacity: 0.9;
}
.facebook_login {
  background-color: #4267B2;
  box-shadow: 0px 1px 5px 0px rgba(166, 166, 166, 0.30);
  color: #ffffff;
  height: 60px;
  max-width: 400px;
  border-radius: 6px;
  position: relative;
  top: 10px;
  border: 1px solid #4267B2;
  display: block;
  background-image: url("facebook-login.svg");
  background-position: 18px 18px;
  background-repeat: no-repeat;
  margin: auto;
}
.login_container br {
  margin-top: 3px;
}
.primary_facebook {
  color: white;
  position: relative;
  left: 58px;
  top: 19px;
  float: left;
  text-align: left;
}
.login_sorry {
  color: var(--grey);
}
.google_login span {
  color: grey;
  position: relative;
  left: 54px;
  float: left;
  top: 19px;
}
.google_login {
  margin-bottom: 3px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(166, 166, 166, 0.20);
  color: #ffffff;
  height: 60px;
  max-width: 400px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  position: relative;
  top: 30px;
  display: block;
  background-image: url("google-login.svg");
  background-position: 18px 18px;
  margin: auto;
  background-repeat: no-repeat;
}


.post_info p {
  text-align: left;
}

.add_a_textbook {
  font-family: 'SourceSansPro-SemiBold';
  text-align: left;
  display: block;
  margin-bottom: 12px;
}
.add_posting_table {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
}
.add_posting_image_field {
  padding-left: 0px;
  margin-left: -6px;
}
.add_posting_fields {
  padding-bottom: 15px;
}
.add_posting_labels {
  width: 80px;
  float: left;
}
.add_posting_labels label {
  float: right;
  line-height: 25px;
}
.add_posting_comments_field {
  border-radius: 4px;
  width: auto;
  height: 100px;
  width: 98%;
  max-width: 98%;
  padding: 5px;
  border: 1px solid var(--inputborder);
  margin-top: 15px;
}
.posting_comments label {
  left: 0px;
  position: absolute;
  font-family: 'SourceSansPro-SemiBold';
  font-size: var(--header3);
  padding-left: 35px;
  margin-top: 15px;
}
.add_posting_field {
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
  width: calc(100% - 82px);
  background-color: white;
  border: 1px solid var(--inputborder);
}
.add_posting_image_field {
  width: calc(100% - 90px);
}
.add_posting_submit {
  float: right;
  margin-top: 10px;
  display: inline-block;
}
.cancel_button {
  padding-top: 4px;
  padding-bottom: 8px;
  width: 80px;
  color: var(--emperor);
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
}
.add_posting_button {
  margin-left: auto;
  margin-top: 5px;
  display: inline-block;
  color: white;
  border-radius: 4px;
  height: 30px;
  padding: 0px 20px 0px 20px;
  background-color: var(--successgreen);
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(166, 166, 166, 0.20);
}
.add_posting_button_container {
  text-align: center;
}

.booktosell {
  font-size: 18px;
  color: #fff;
  height: 36px;
  width: 205px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .18);
  margin: auto;
  position: relative;
  top: 15px;
}
.booktosell a {
  /*font-family: 'SourceSansPro-SemiBold';*/
  text-decoration: none;
  color: #fff;
}
.booktosell p {
  color: white;
  line-height: 36px;
}
.lookingbook {
  color: white;
  font-size: 24px;
  margin-bottom: 24px;
}
.booktosell:hover {
  opacity: 0.7;
  transition: .2s;
}

.cantcontact {
  color: red;
  font-family: 'SourceSansPro-SemiBold';
}
.footer {
  bottom: 0px;
  height: 12%;
  width: 100%;
  position: relative;
  background-color: #DADADA;
}
.footer_invisible {
  bottom: 0px;
  height: 12%;
  width: 100%;
  position: relative;
  background-color: transparent;
}
.contact {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 4% 4%;
}
.contact_in {
  text-decoration: none;
  color: #fff;
}
.help_in {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}
.color {
  width: 120px;
  bottom: 0;
  right: 0;
  padding: 0 4% 4% 0;
  position: absolute;
}
.color_in {
  float: right;
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.header {
  height: 65px;
  top: 0px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  box-shadow: 0 1px 3px 0 rgba(166, 166, 166, 0.20);
  border-bottom: 1px solid #E3E3E3;
}
.header_invisible {
  height: 12%;
  top: 0px;
  width: 100%;
  background-color: transparent;
}
.header_invisible .leftheader {
  float: left;
  padding: 4% 0 0 4%;
  display: inline-block;
  font-family: 'SourceSansPro-SemiBold';
}
.header_invisible span, .header_invisible a, .header_invisible p {
  color: white;
}
.header a, span {
  color: var(--emperor);
}
.header_in {
  text-decoration: none;
  font-size: 25px;
  font-family: 'SourceSansPro-SemiBold';
}

.rightheader a {
  text-decoration: none;
  font-size: var(--header3);
}



.manage_container .branding {
  text-align: left;
}
.wishlisting_table {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}
.wishlisting_table .wishlisting_row {
  border-width: 1px 1px 0px 1px;
  border-color: #E3E3E3;
  border-style: solid;
  height: 30px;
}
.wishlisting_table .wishlisting_row:first-child {
  border-radius: 6px 6px 0 0;
}
.wishlisting_table .wishlisting_row:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #E3E3E3;
}
.wishlisting_table .wishlisting_row div:first-child {
  border-radius: 6px 0 0 0;
}
.wishlisting_table .wishlisting_row div:nth-child(2) {
  border-radius: 0 6px 0 0;
}
.wishlisting_table .wishlisting_row div:last-child {
  border-radius: 0 0 6px 0;
}
.wishlisting_table .wishlisting_row div:nth-last-child(2) {
  border-radius: 0 0 0 6px;
}
.wishlisting_book {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  float: left;
  width: calc(100% - 36px);
  text-align: left;
}
.wishlisting_book a {
  color: var(--grey);
}
.wishlisting_book a:hover {
  color: var(--emperor);
}
.wishlisting_delete {
  display: inline-block;
  margin-top: 7px;
}
.wishlisting_delete input {
  width: 18px;
  height: 15px;
  display: block;
  background-image: url("lightgreyx.svg");
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  text-indent: -100px;
}
.wishlisting_delete input:hover {
  width: 18px;
  height: 15px;
  display: block;
  background-image: url("redx.svg");
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  text-indent: -100px;
}



/* ############ DROPDOWN ################## */

/* Dropdown Button */
a.bottomdropdown {
  border-top: 1px solid var(--concrete);
}
.dropbtn {
    font-size: 16px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
  opacity: 0.7;
  transition: .2s;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  margin-top: 7px;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 1px 6px 0px rgba(166, 166, 166, 0.20);
  right: 0;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
.header_invisible .dropdown-content {
  border: 1px solid white;
}
.header_invisible .dropdown-content:hover {
  border: 1px solid #f1f1f1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--emperor);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  opacity: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
