

.green {
  color: green;
}

.feedback {
  width: 510px;
}

.homebutton {
  padding: 8px;
  border-radius: 6px;
}

.softbutton {
  background-color: #F8F8F8;
  border: 1px solid #C5C5C5;
}

.resultstable td a div{
  padding: 10px;
}

.borderbot {
  border-bottom: 1px solid #C5C5C5;
}

.bordertop {
  border-top: 1px solid #C5C5C5;
}

.padtopbot15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padtopbot8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.wishlisting {
  margin-right: auto;
  margin-left: auto;
  width: 415px;
  display: block;
}

.resultstable td a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#id_email {
  width: 180px;
}

#id_subject {
  width: 180px;
}

#id_condition {
  width: 120px;
}

#id_price {
  width: 150px;
}

#id_image {
  margin-right: auto;
  margin-left: auto;
  width: 190px;
}

#noresults {
  color: red;
  font-weight: bold;
}

.feedbackcontent {
  width: 470px;
  height: 160px;
}

.option {
  width: 300px;
}

#notloggedwish {
  height: 45px;
  width: 300px;
  border-radius: 6px;
  background-color: #C5C5C5;
  border: 1px solid #C5C5C5;
  color: black;
}

.good {
  background-color: #52B452;
  height: 50px;
  width: 170px;
}

.bad {
  background-color: #BF322E;
  height: 50px;
  width: 170px;
}

.delete {
  background-color: #BF322E;
  height: 35px;
  width: 70px;
  border-radius:6px;
}

#postimage {
  margin-top: 20px;
  max-height: 340px;
  border-radius: 6px;
  max-width: 320px;
}

#search {
  width: 150px;
  height: 30px;
  background-color: #C5C5C5;
}

.addpostform {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
}

.centertext {
  text-align: center;
  vertical-align: middle;
}

.center {
  margin: 0 auto;
}

.coursetag {
  padding:2px;
  background-color: grey;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.semestertag {
  padding:2px;
  background-color: green;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.classsemester {
  cell-spacing: 0px;
  border-collapse: collapse;
}

.buttonspace {
  padding-left: 5px;
  padding-right:5px;
}

.classtag {
  padding-left: 5px;
  padding-right:5px;
}

.button {
  border-radius:6px;
}

.blacklink {
  color: #2A2A2A;
}

.blacklink:hover {
  color: #2A2A2A;
  text-decoration: none;
}

.blacklink:visited {
  color: #2A2A2A;
  text-decoration: none;
}

.borderrightleft {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.textbutton {
  background-color: #F8F8F8;
  padding: 6px;
  border-radius:6px;
}

.nextbutton {
  width: 35px;
}

#help {
  background-color: #C5C5C5;
  z-index: 999;
}

.width160 {
  width: 160px;
}

.width235 {
  width: 235px;
}

.width75 {
  width: 75px;
}

.width85 {
  width: 85px;
}

.width270 {
  width: 270px;
}

.width110 {
  width: 110px;
}

.width140 {
  width: 140px;
}

.width60 {
  width: 60px;
}

.width500{
  width:500px;
}
